<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Nirogi</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <header>
        <h1><a href="/" id="head">Nirogi</a> </h1>
    </header>
    <div class="container" id="main">
        <div class="row">
            <div class="col-lg-4 ">
                <div class="card h-100 p-5 text">
                <div class="card-body">
                    <h5 class="card-title">Take a Mental Health Test</h5>
                    <p class="card-text">Take a free scientific test which will allow us to better judge your mental Health.</p>
                    <a href="/mhealth.ejs" class="btn btn-primary">Start</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100 p-5" >
                <div class="card-body">
                    <h5 class="card-title">Make an Appointment</h5>
                    <p class="card-text">Talk to your favourite doctor at the comfort of your home.(Doesn't work in prototype version)</p>
                    <a href="#" class="btn btn-primary"> Start</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100 p-5">
                <div class="card-body">
                    <h5 class="card-title">Take a Physial Health Test</h5>
                    <p class="card-text">Take a free online quiz to get a better look at your life-style and health. Stay Healthy!</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-3" id="copyr">Copyright  &#169 2020</div>
            <div class="col-3 "></div>
            <div class="col-3"></div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/shubham-jain-79b74712a/"><img id="linked" src="logos/linked.png" alt=""></a>
                <a href="https://github.com/shubham00jain"><img src="logos/github.png" alt="" id="git"></a>
            </div>
        </div>
    </footer>
    
</body>

</html>