<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Nirogi</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <style>
      .form-group{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    </style>
</head>
<body>
    <header>
        <h1><a href="/" id="head">Nirogi</a> </h1>
    </header>
    <div clas="mental">
        <form action="/public/Scripts/mhealth.js">
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0"><span>1. </span>Little interest or pleasure in doing things</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    First radio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Second radio
                  </label>
                </div>
              </div>
            </div>
          </fieldset>  
        </form>
        
    </div>
    <footer>
        <div class="row">
            <div class="col-3">Copyright  &#169 2020</div>
            <div class="col-3 "></div>
            <div class="col-3"></div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/shubham-jain-79b74712a/"><img id="linked" src="logos/linked.png" alt=""></a>
                <a href="https://github.com/shubham00jain"><img src="logos/github.png" alt="" id="git"></a>
            </div>
        </div>
    </footer>
    
</body>

</html>